user-backend/data/schemes/termin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="termin">
        <xs:sequence>
            <xs:element name="datum_vreme" type="xs:dateTime"/>
            <xs:element name="trajanje" type="xs:integer"/>
            <xs:element name="pacijent" type="xs:string"/>
            <xs:element name="zdravstvena_ustanova" type="xs:string"/>
            <xs:element name="zdravstveni_radnik" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="about"/>
    </xs:complexType>
</xs:schema>
